@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "sans-serif";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "sans-serif";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	/*overflow-x: hidden;*/
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1182px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

header {
	z-index: 4;
	position: relative;
	background-color: #fff;
}

.fhone {
	background-image: url(../img/icons/phone.png);
	background-repeat: no-repeat;
}
.fhone ul {
	margin: 0 0 0 30px;
}
.fhone ul li a {
	font-family: Roboto;
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
	color: #010101;
}
.fhone ul li a span {
	font-weight: 700;
}

.mail {
	background-image: url(../img/icons/message.png);
	background-repeat: no-repeat;
	background-position-y: 4px;
}
.mail li {
	margin: 0px 0 0 33px;
}
.mail a {
	font-family: Roboto "sans-serif";
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
	color: #000000;
}

.header-bucket {
	background-color: #00b5ab;
	width: 9.67%;
	position: relative;
}
.header-bucket:hover {
	background-color: #1bcdc3;
}
.header-bucket > img {
	position: absolute;
	top: 26px;
	left: 33%;
}
.header-bucket > a {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.header-bucket > h2 {
	opacity: 0.6;
	font-family: Roboto;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	word-spacing: 5px;
	text-align: center;
	margin: 90% 0 0 0;
	color: #ffffff;
}

.header__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__bucket {
	margin: 0 0 0 21px;
}

.header-info {
	width: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 21px 0 0 0;
}
.info-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.info-top__info {
	margin: 0 4% 0 0;
}
.info-top__callback {
	display: block;
	margin: 11px 0 0 0;
	font-family: Roboto;
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
	padding: 12px 24px;
	background-color: #fc9a00;
}
.info-top__callback:hover {
	background-color: #161615;
}
.info-top__social {
	margin: 0 0 24px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.info-top__social a {
	margin: 0 0 0 14px;
	position: relative;
}
.info-top__social a:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
}
.info-top__social a:hover:after {
	background-color: rgba(255, 255, 255, 0.5);
}
.info-top__social a:first-child {
	margin: 0;
}
.info-top__social a img {
	width: 30px;
	height: 30px;
}
.info-top__login {
	background-image: url(../img/icons/login.png);
	background-repeat: no-repeat;
	padding: 0 0 5px 35px;
}
.info-top__login a {
	font-family: Roboto;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 900;
	color: #000000;
}
.info-top__login a:last-child {
	margin: 0 0 0 -4px;
}

.info-buttom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.info-buttom__menu {
	width: 41%;
	padding: 41px 0 0 0;
}
.info-buttom__menu > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-family: Roboto;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 500;
	text-transform: uppercase;
}
.info-buttom__menu > ul > li > a {
	color: #000000;
}
.info-buttom__menu > ul > li > a:hover {
	color: #00b5ab;
}
.info-buttom__menu > ul > li {
	position: relative;
}
.info-buttom__menu > ul > li:after {
	content: "";
	height: 12px;
	border: 0.5px solid #8b8787;
	display: inline-block;
	position: absolute;
	top: 2px;
	left: -16px;
}
.info-buttom__menu > ul li:first-child:after {
	display: none;
}
.info-buttom__search {
	width: 25.3%;
	padding: 25px 0 0 0;
}
.info-buttom__search > form > input {
	width: 100%;
	padding: 10px 0 10px 10px;
	background-color: #f7f7f7;
	background-image: url(../img/icons/lupa.png);
	background-repeat: no-repeat;
	background-position-x: 95%;
	background-position-y: 50%;
	font-family: Roboto;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 400;
	color: #000000;
	caret-color: #ff9c00;
}
.info-buttom__search > form > input:hover {
	border: 1px solid #fe9b00;
	caret-color: #ff9c00;
	background-color: #fdf9e4;
}

.catalog {
	margin: 28px 0 0 0;
}
.catalog__list > li {
	position: relative;
}
.catalog__link {
	padding: 8px 180px 10px 12px;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #e78216;
	font-family: Roboto;
	font-size: 18px;
	line-height: 40px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
}
.catalog__link span {
	width: 15px;
	height: 2px;
	opacity: 0.4;
	background-color: #ffffff;
	display: block;
	position: absolute;
}
.catalog__link span:first-child {
	left: 85%;
	top: 50%;
	-webkit-transform: rotate(54deg);
	    -ms-transform: rotate(54deg);
	        transform: rotate(54deg);
}
.catalog__link span:last-child {
	right: 6.5%;
	-webkit-transform: rotate(-54deg);
	    -ms-transform: rotate(-54deg);
	        transform: rotate(-54deg);
	top: 50%;
}

.sub-catalog__list {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	margin: 58.4px 0 0 0;
	display: none;
	background-color: #fb9a00;
}
.sub-catalog__list > li {
	text-align: left;
	position: relative;
	padding: 0 0 0 10px;
}
.sub-catalog__list > li:hover {
	background-color: #fff;
	width: 111%;
	right: 18px;
}
.sub-catalog__list > li:hover:hover span {
	background-color: black;
}
.sub-catalog__list > li:hover > a {
	color: black;
}
.sub-catalog__list > li span {
	width: 15px;
	height: 2px;
	opacity: 0.4;
	background-color: #ffffff;
	display: block;
	position: absolute;
}
.sub-catalog__list > li span.span1 {
	left: 90%;
	top: 40%;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.sub-catalog__list > li span.span2 {
	left: 90%;
	top: 60%;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.sub-catalog__link {
	color: #fff;
	font-family: Roboto;
	font-size: 17px;
	line-height: 55px;
	font-weight: 400;
	color: #ffffff;
}

.last-catalog__list {
	position: absolute;
	top: 0;
	left: 96%;
	z-index: -2;
	display: none;
	width: 100%;
	background-color: #e78216;
}
.last-catalog__list > li {
	text-align: left;
	padding: 0 0 0 30px;
}
.last-catalog__list > li:hover {
	background-color: #fff;
}
.last-catalog__list > li:hover > a {
	color: black;
}
.last-catalog__list > li:last-child {
	background-color: #fff;
	position: relative;
	color: black;
}
.last-catalog__span {
	width: 15px;
	height: 2px;
	opacity: 0.4;
	background-color: #fd9b00;
	display: block;
	position: absolute;
}
.last-catalog__span:first-child {
	width: 26px;
	height: 2px;
	left: 120%;
	top: 55%;
	background-color: #fd9b00;
}
.last-catalog__link {
	font-family: Roboto;
	font-size: 17px;
	line-height: 54px;
	font-weight: 400;
	color: #ffffff;
	position: relative;
}
.last-catalog__link:last-child {
	color: black;
}
.last-catalog__link > .last-catalog__span {
	width: 15px;
	height: 2px;
	opacity: 0.4;
	background-color: #fd9b00;
	display: block;
	position: absolute;
}
.last-catalog__link > .last-catalog__span:first-child {
	width: 26px;
	height: 2px;
	left: 120%;
	top: 55%;
	background-color: #fd9b00;
}
.last-catalog__link > .last-catalog__span:nth-child(2) {
	left: 133%;
	top: 26%;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.last-catalog__link > .last-catalog__span:nth-child(3) {
	left: 133%;
	top: 77%;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

body.mouse .catalog__list > li:hover .sub-catalog__list {
	display: block;
}

body.mouse .sub-catalog__list > li:hover .last-catalog__list {
	display: block;
}

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

/* Слайдер */
.product-card__slider-item .product-item .slick-slide {
	width: 289px;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
	height: 100%;
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
	position: absolute;
	display: inline !important;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 0px;
	background-color: #f7f7f7;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 3;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
	background-image: url(../img/icons/p-left.svg);
	top: 50%;
	right: 97.2%;
}
.slick-arrow.slick-prev:hover {
	background-image: url(../img/icons/p-lefty.svg);
}

/* Стрелка вправо */
.slick-arrow.slick-next {
	left: 97.2%;
	top: 50%;
	background-image: url(../img/icons/p-right.svg);
}
.slick-arrow.slick-next:hover {
	background-image: url(../img/icons/p-righty.svg);
}

/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: absolute;
	top: 90%;
	left: 50%;
}

.slick-dots li {
	list-style: none;
	margin: 0 10px;
}

/* Активная точка */
.slick-dots li.slick-active button:after {
	position: absolute;
	/* top: -11%; */
	bottom: -113%;
	left: -100.5%;
	content: "";
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #fff;
}

/* Элемент точки */
.slick-dots li button {
	font-size: 0;
	width: 10px;
	height: 10px;
	/*border:1px solid #848789;*/
	border-radius: 50%;
	background-color: #fff;
	position: relative;
}

/*section sub-menu-slider======================================================================================*/
.content-wrapper {
	background-color: #f7f7f7;
}

.sub-block {
	position: relative;
	width: 100%;
	height: 20px;
	background-color: #f7f7f7;
	z-index: 1;
}

.sub-menu-slider__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.sub-menu-slider__wrapper {
	width: 100%;
	height: 430px;
}
.sub-menu-slider__body {
	width: 100%;
	height: 100%;
	position: relative;
}
.sub-menu-slider__item {
	width: 100%;
	height: 100%;
	position: relative;
}
.sub-menu-slider__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: right;
}
.sub-menu-slider__img > img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.sub-menu-slider__circle_grey {
	position: absolute;
	left: 50%;
	top: -23%;
	background-color: rgba(140, 135, 135, 0.8);
	width: 50%;
	height: 87%;
	border-radius: 125% 0 122% 221%;
}
.sub-menu-slider__circle_grey h2 {
	position: absolute;
	top: 50%;
	left: 60%;
	width: 42%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	font-family: Roboto;
	font-size: 34px;
	line-height: 45px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}
.sub-menu-slider__circle_grey h3 {
	position: absolute;
	top: 68%;
	left: 59%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	font-family: Roboto;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
}
.sub-menu-slider__circle_yellow {
	position: absolute;
	left: 60%;
	top: 38%;
	width: 134px;
	height: 134px;
	border-radius: 50%;
	background-color: #ff9c00;
}
.sub-menu-slider__circle_yellow h2 {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	color: #35302d;
	text-align: center;
}
.sub-menu-slider__circle_yellow h2 span {
	font-size: 40px;
	line-height: 56px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}

/*========================================================================================================*/
.product-card__slider-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
}
.product-card__slider-item {
	width: 289px;
}

.top-title {
	max-width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding: 43px 10px 43px 10px;
}
.top-title h2 {
	font-family: Roboto;
	font-size: 22px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
	color: #7c7373;
}
.top-title a {
	margin: 0 0 0 351px;
	display: block;
	font-family: Roboto;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-decoration: underline;
	color: #ff9c00;
}
.top-title a:hover {
	color: #7c7373;
}

.product-item {
	padding: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 289px;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0);
}
.product-item__link-img {
	max-width: 100%;
	height: 81%;
}
.product-item__link-img img {
	-o-object-fit: cover;
	   object-fit: cover;
	height: 100%;
	width: 100%;
}
.product-item__link-img:hover .product-item {
	border-color: #ff9c00;
}
.product-item > h2 {
	font-family: Roboto;
	font-size: 15px;
	line-height: 22px;
	font-weight: 500;
	color: #000000;
	text-align: center;
	margin: 15px 0 0 0;
}
.product-item > h3 {
	margin: 20px 0 13px 0;
	text-align: center;
	font-family: Roboto;
	font-size: 20px;
	line-height: 22px;
	font-weight: 700;
	color: #000000;
}
.product-item > h3 span {
	font-size: 16px;
	font-weight: 400;
	color: #7c7373;
	text-transform: uppercase;
	text-decoration: line-through;
	-webkit-text-decoration-color: #ff0000;
	        text-decoration-color: #ff0000;
	margin: 0 15px 0 0;
}
.product-item__link {
	background: url(../img/bakcgraund/bagy.jpg);
	background-repeat: no-repeat;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 13px 0 13px 0;
	text-align: center;
	font-family: Roboto;
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
	border: 1px solid #fd9b00;
}
.product-item__link:hover {
	background: url(../img/bakcgraund/bagw.jpg);
	color: #010101;
}
.product-item__link > img {
	left: 72px;
	width: 24px;
	height: 22px;
	margin: 0 12px 0 0;
}
.product-item__link::before {
	content: "";
	background-image: url(../img/icons/corsina.svg);
	background-position: center;
	background-size: cover;
	width: 24px;
	height: 22px;
	margin: 0 12px 0 0;
}
.product-item__link:hover::before {
	background-image: url(../img/icons/corsina.svg.svg);
}
.product-item__sub-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 11px 0 0 0;
}
.product-item__sub-link:hover .product-item__sub-link_link {
	color: #7c7373;
}
.product-item__sub-link_img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #00b5ab;
	position: relative;
}
.product-item__sub-link_img > img {
	width: 78%;
	height: 78%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.product-item__sub-link_link {
	margin: 0 0 0 13px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #00b5ab;
}

/*===stock-product===================================================================================*/
.stock-product__slider-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	margin: 0 0 42px 0;
}
/*======feedBack-form=============================================================================================*/
.feedBack-form__wrapper {
	background-image: url(../img/bakcgraund/formback.jpg);
	background-size: cover;
	padding: 18px 114px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.feedBack-form__text {
	font-family: Roboto;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fefefe;
}
.feedBack-form__form {
	width: 458px;
	height: 38px;
	border: 1px solid #4CCBC4;
}
.feedBack-form__form input {
	width: 100%;
	height: 100%;
	padding: 0 0 0 11px;
	background: rgba(255, 255, 255, 0) url(../img/icons/letter.svg) no-repeat;
	background-position-y: 50%;
	background-position-x: 410px;
	/*background-image: url(../img/icons/letter.svg);*/
	font-family: Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}
.feedBack-form__form input:hover {
	background: #66D3CD url(../img/icons/letter2.svg) no-repeat;
	background-position-y: 50%;
	background-position-x: 410px;
}
.feedBack-form__form input::-webkit-input-placeholder {
	font-family: Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}
.feedBack-form__form input::-moz-placeholder {
	font-family: Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}
.feedBack-form__form input:-ms-input-placeholder {
	font-family: Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}
.feedBack-form__form input::-ms-input-placeholder {
	font-family: Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}
.feedBack-form__form input::placeholder {
	font-family: Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}

/*========our-garant==================================================================================================*/
.our-garant__title > h2 {
	margin: 0 auto;
}
.our-garant__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.our-garant__item {
	width: 262px;
	margin: 0 15px;
	padding: 90px 0 24px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #fff;
	-webkit-box-shadow: 0 0 100px #EBEBEB;
	        box-shadow: 0 0 100px #EBEBEB;
}
.our-garant__item > img {
	position: absolute;
	left: 50%;
	top: 50px;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.our-garant__item > p {
	text-align: center;
	width: 160px;
	margin: 0 auto;
	font-family: Roboto;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	letter-spacing: 0;
	color: #000000;
}