@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "sans-serif";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "sans-serif";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	position: relative;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1182px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.popup {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
}

.popup-registration {
	display: none;
}

.title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 0 32px 0;
}
.title > p {
	font-family: Roboto;
	font-size: 40px;
	line-height: 1.2;
	font-weight: 300;
	color: #010101;
}
.title > div {
	width: 23px;
	height: 23px;
	position: relative;
	cursor: pointer;
}
.title > div:hover span {
	background: #fe9b00;
}
.title > div span {
	position: absolute;
	width: 25px;
	height: 1px;
	background: #706F7E;
	display: block;
	top: 50%;
	left: -2%;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.title > div span:first-child {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.title > div span:last-child {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.form div {
	height: 46px;
	margin: 0 0 15px 0;
}
.form input {
	width: 100%;
	height: 100%;
	border: 1px solid #ECECEC;
	border-left: 2px solid #ECECEC;
	border-top: 2px solid #ECECEC;
	background: #F5F5F5;
	padding: 4px 0 0 40px;
}
.form input:hover {
	border: 1px solid #FCB239;
	border-left: 2px solid #FCB239;
	border-top: 2px solid #FCB239;
	background: #FDF9E4;
}
.form input:focus {
	border: 1px solid #FCB239;
	border-left: 2px solid #FCB239;
	border-top: 2px solid #FCB239;
	background: #FDF9E4;
}
.form input::-webkit-input-placeholder {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	color: #7c7373;
}
.form input::-moz-placeholder {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	color: #7c7373;
}
.form input:-ms-input-placeholder {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	color: #7c7373;
}
.form input::-ms-input-placeholder {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	color: #7c7373;
}
.form input::placeholder {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	color: #7c7373;
}

.form-block {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 440px;
	padding: 30px 39px;
	background: #fff;
}

.name input {
	background-image: url(../img/icons/name.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}
.name input:hover {
	background-image: url(../img/icons/name2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}
.name input:focus {
	background-image: url(../img/icons/name2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}

.surname input {
	background-image: url(../img/icons/name.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}
.surname input:hover {
	background-image: url(../img/icons/name2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}
.surname input:focus {
	background-image: url(../img/icons/name2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}

.fhone input {
	background-image: url(../img/icons/phone.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}
.fhone input:hover {
	background-image: url(../img/icons/phone2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}
.fhone input:focus {
	background-image: url(../img/icons/phone2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}

.mail input {
	background-image: url(../img/icons/mail.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}
.mail input:hover {
	background-image: url(../img/icons/mail2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}
.mail input:focus {
	background-image: url(../img/icons/mail2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}

.password input {
	background-image: url(../img/icons/lock.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}
.password input:hover {
	background-image: url(../img/icons/lock2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}
.password input:focus {
	background-image: url(../img/icons/lock2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}

.password-repeat input {
	background-image: url(../img/icons/lock.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}
.password-repeat input:hover {
	background-image: url(../img/icons/lock2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}
.password-repeat input:focus {
	background-image: url(../img/icons/lock2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
}

.btn {
	text-align: center;
}
.btn input {
	width: 291px;
	padding: 0 0 0 26px;
	background-color: #fd9b00;
	background-image: url(../img/icons/enter.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 74px;
	text-transform: uppercase;
	color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
}
.btn input:hover {
	background-color: #fff;
	color: #000;
	font-weight: 400;
	background-image: url(../img/icons/enter2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 74px;
}

.sub-title-form {
	text-align: center;
	color: #7c7373;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 35px;
}
.sub-title-form a {
	color: #00b5ab;
	font-weight: 500;
}
.sub-title-form a:hover {
	text-decoration: underline;
}

.registration-form__sub-title {
	text-align: center;
	color: #7c7373;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 35px;
}
.registration-form__sub-title a {
	color: #00b5ab;
	font-weight: 500;
}
.registration-form__sub-title a:hover {
	text-decoration: underline;
}

.popup-enter {
	display: none;
}

.enter-form__restablish-pass {
	text-align: center;
	margin: 15px 0 20px 0;
}
.enter-form__restablish-pass a {
	color: #00b5ab;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 500;
}
.enter-form__restablish-pass a:hover {
	text-decoration: underline;
}
.enter-form__btn input {
	background-position-y: 50%;
	background-position-x: 105px;
}
.enter-form__btn input:hover {
	background-position-y: 50%;
	background-position-x: 105px;
}
.popup-buy {
	display: none;
}

.form-buy {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	width: 440px;
	background: #fff;
	padding: 25px;
}
.form-buy a {
	display: block;
	width: 293px;
	text-align: center;
	border: 1px solid #fd9b00;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	text-transform: uppercase;
	color: #fff;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.form-buy__title {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin: 0;
}
.form-buy__text {
	width: 293px;
	padding: 0 7px;
	margin: 0 auto;
}
.form-buy__text p {
	color: #010101;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}
.form-buy__checkout {
	padding: 15px 0 15px 30px;
	margin: 25px auto 0;
	background: #fd9b00;
	background-image: url(../img/icons/chek.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 60px;
}
.form-buy__checkout:hover {
	background: #fff;
	color: #000;
	background-image: url(../img/icons/chek2.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 60px;
}
.form-buy__continue {
	padding: 15px 0;
	margin: 15px auto 0;
	background: #fd9b00;
}
.form-buy__continue:hover {
	background: #fff;
	color: #000;
}

.active {
	display: block;
}

header {
	z-index: 4;
	position: relative;
	background-color: #fff;
}
@media (max-width: 767.98px) {
	header {
		/*position: fixed;*/
		width: 100%;
	}
}

.fhone {
	background-image: url(../img/icons/phone.png);
	background-repeat: no-repeat;
}
.fhone ul {
	margin: 0 0 0 30px;
}
.fhone ul li a {
	font-family: Roboto;
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
@media (max-width: 991.98px) {
	.fhone ul li a {
		line-height: 22px;
	}
}
.fhone ul li a:hover {
	color: #FFB100;
}
.fhone ul li a span {
	font-weight: 700;
}

.mail {
	background-image: url(../img/icons/message.png);
	background-repeat: no-repeat;
	background-position-y: 4px;
}
.mail li {
	margin: 0px 0 0 33px;
}
.mail a {
	font-family: Roboto "sans-serif";
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
}
.mail a:hover {
	color: #FFB100;
}

.social {
	margin: 0 0 24px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.social a {
	margin: 0 0 0 14px;
	position: relative;
}
.social a:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0);
}
.social a:hover:after {
	background-color: rgba(255, 255, 255, 0.5);
}
.social a:first-child {
	margin: 0;
}
.social a img {
	width: 30px;
	height: 30px;
}

.header-bucket {
	background-color: #00b5ab;
	width: 9.67%;
	position: relative;
	margin: 0 0 0 21px;
}
@media (max-width: 991.98px) {
	.header-bucket {
		width: auto;
		margin: 0;
		height: -webkit-max-content;
		height: -moz-max-content;
		height: max-content;
		padding: 0 0 24px 0;
	}
}
.header-bucket:hover {
	background-color: #1bcdc3;
}
.header-bucket > img {
	position: absolute;
	top: 26px;
	left: 33%;
}
.header-bucket > a {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.header-bucket > h2 {
	opacity: 0.6;
	font-family: Roboto;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	word-spacing: 5px;
	text-align: center;
	margin: 90% 0 0 0;
	color: #ffffff;
}

.header__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 767.98px) {
	.header__row {
		display: none;
	}
}
.header-info {
	width: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 21px 0 0 0;
}
.info-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 991.98px) {
	.info-top {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: normal;
		    -ms-flex-pack: normal;
		        justify-content: normal;
	}
}
@media (max-width: 991.98px) {
	.info-top__logo {
		width: 200px;
		margin: 0 184px 20px 250px;
	}
}
@media (max-width: 991.98px) {
	.info-top img {
		width: 100%;
	}
}
.info-top__fhone a {
	color: #000000;
}
.info-top__info {
	margin: 0 4% 0 0;
}
@media (max-width: 991.98px) {
	.info-top__info {
		margin: 0 11% 0 11%;
	}
}
.info-top__mail a {
	color: #000000;
}
.info-top__callback {
	display: block;
	margin: 11px 0 0 0;
	font-family: Roboto;
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
	padding: 12px 24px;
	background-color: #fc9a00;
}
@media (max-width: 991.98px) {
	.info-top__callback {
		padding: 6px 20px;
	}
}
.info-top__callback:hover {
	background-color: #161615;
}
@media (max-width: 991.98px) {
	.info-top__social {
		margin: 0px 0 15px 0;
	}
}
.info-top__login {
	background-image: url(../img/icons/login.png);
	background-repeat: no-repeat;
	padding: 0 0 5px 35px;
}
.info-top__login a {
	font-family: Roboto;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 900;
	color: #000000;
}
.info-top__login a:last-child {
	margin: 0 0 0 -4px;
}

.info-buttom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 991.98px) {
	.info-buttom {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 117%;
	}
}
.info-buttom__menu {
	width: 41%;
	padding: 41px 0 0 0;
}
@media (max-width: 1182px) {
	.info-buttom__menu {
		width: 44%;
	}
}
@media (max-width: 991.98px) {
	.info-buttom__menu {
		width: 400px;
	}
}
.info-buttom__menu > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-family: Roboto;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 500;
	text-transform: uppercase;
}
.info-buttom__menu > ul > li > a {
	color: #000000;
}
.info-buttom__menu > ul > li > a:hover {
	color: #00b5ab;
}
.info-buttom__menu > ul > li {
	position: relative;
}
.info-buttom__menu > ul > li:after {
	content: "";
	height: 12px;
	border: 0.5px solid #8b8787;
	display: inline-block;
	position: absolute;
	top: 2px;
	left: -16px;
}
@media (max-width: 1182px) {
	.info-buttom__menu > ul > li:after {
		left: -8px;
	}
}
.info-buttom__menu > ul li:first-child:after {
	display: none;
}
.info-buttom__search {
	width: 25.3%;
	padding: 25px 0 0 0;
}
@media (max-width: 1182px) {
	.info-buttom__search {
		width: 22.3%;
	}
}
.info-buttom__search > form > input {
	width: 100%;
	padding: 10px 0 10px 10px;
	background-color: #f7f7f7;
	background-image: url(../img/icons/lupa.png);
	background-repeat: no-repeat;
	background-position-x: 95%;
	background-position-y: 50%;
	font-family: Roboto;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 400;
	color: #000000;
	caret-color: #ff9c00;
}
.info-buttom__search > form > input:hover {
	border: 1px solid #fe9b00;
	caret-color: #ff9c00;
	background-color: #fdf9e4;
}

.catalog {
	margin: 28px 0 0 0;
}
@media (max-width: 991.98px) {
	.catalog__list {
		width: 150px;
	}
}
.catalog__list > li {
	position: relative;
}
.catalog__link {
	padding: 8px 180px 10px 12px;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #e78216;
	font-family: Roboto;
	font-size: 18px;
	line-height: 40px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
}
@media (max-width: 1182px) {
	.catalog__link {
		padding: 0px 145px 0px 12px;
	}
}
.catalog__link span {
	width: 15px;
	height: 2px;
	opacity: 0.4;
	background-color: #ffffff;
	display: block;
	position: absolute;
}
.catalog__link span:first-child {
	left: 85%;
	top: 50%;
	-webkit-transform: rotate(54deg);
	    -ms-transform: rotate(54deg);
	        transform: rotate(54deg);
}
@media (max-width: 1182px) {
	.catalog__link span:first-child {
		left: 84%;
	}
}
@media (max-width: 991.98px) {
	.catalog__link span:first-child {
		left: 79%;
	}
}
.catalog__link span:last-child {
	right: 6.5%;
	-webkit-transform: rotate(-54deg);
	    -ms-transform: rotate(-54deg);
	        transform: rotate(-54deg);
	top: 50%;
}

.sub-catalog__list {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	margin: 58.4px 0 0 0;
	display: none;
	background-color: #fb9a00;
}
@media (max-width: 1182px) {
	.sub-catalog__list {
		margin: 39.4px 0 0 0;
	}
}
@media (max-width: 991.98px) {
	.sub-catalog__list {
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
	}
}
.sub-catalog__list > li {
	text-align: left;
	position: relative;
	padding: 0 0 0 10px;
}
.sub-catalog__list > li:hover {
	background-color: #fff;
	width: 111%;
	right: 18px;
}
.sub-catalog__list > li:hover:hover span {
	background-color: black;
}
@media (max-width: 1182px) {
	.sub-catalog__list > li:hover {
		width: 107%;
		right: 11px;
	}
}
.sub-catalog__list > li:hover > a {
	color: black;
}
.sub-catalog__list > li span {
	width: 15px;
	height: 2px;
	opacity: 0.4;
	background-color: #ffffff;
	display: block;
	position: absolute;
}
.sub-catalog__list > li span.span1 {
	left: 90%;
	top: 40%;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
@media (max-width: 1182px) {
	.sub-catalog__list > li span.span1 {
		top: 41%;
	}
}
.sub-catalog__list > li span.span2 {
	left: 90%;
	top: 60%;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.sub-catalog__link {
	color: #fff;
	font-family: Roboto;
	font-size: 17px;
	line-height: 55px;
	font-weight: 400;
	color: #ffffff;
}
@media (max-width: 1182px) {
	.sub-catalog__link {
		font-size: 15px;
	}
}
@media (max-width: 991.98px) {
	.sub-catalog__link {
		margin: 0 50px 0 0;
	}
}

.last-catalog__list {
	position: absolute;
	top: 0;
	left: 96%;
	z-index: -2;
	display: none;
	width: 100%;
	background-color: #e78216;
}
.last-catalog__list > li {
	text-align: left;
	padding: 0 0 0 30px;
}
.last-catalog__list > li:hover {
	background-color: #fff;
}
.last-catalog__list > li:hover > a {
	color: black;
}
.last-catalog__list > li:last-child {
	background-color: #fff;
	position: relative;
	color: black;
}
.last-catalog__span {
	width: 15px;
	height: 2px;
	opacity: 0.4;
	background-color: #fd9b00;
	display: block;
	position: absolute;
}
.last-catalog__span:first-child {
	width: 26px;
	height: 2px;
	left: 120%;
	top: 55%;
	background-color: #fd9b00;
}
.last-catalog__link {
	font-family: Roboto;
	font-size: 17px;
	line-height: 54px;
	font-weight: 400;
	color: #ffffff;
	position: relative;
}
@media (max-width: 991.98px) {
	.last-catalog__link {
		font-size: 15px;
	}
}
.last-catalog__link:last-child {
	color: black;
}
.last-catalog__link > .last-catalog__span {
	width: 15px;
	height: 2px;
	opacity: 0.4;
	background-color: #fd9b00;
	display: block;
	position: absolute;
}
.last-catalog__link > .last-catalog__span:first-child {
	width: 26px;
	height: 2px;
	left: 120%;
	top: 55%;
	background-color: #fd9b00;
}
.last-catalog__link > .last-catalog__span:nth-child(2) {
	left: 133%;
	top: 26%;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.last-catalog__link > .last-catalog__span:nth-child(3) {
	left: 133%;
	top: 77%;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

/*======header-mobile========================================================================================*/
.header-mobile {
	display: none;
}
@media (max-width: 767.98px) {
	.header-mobile {
		display: block;
	}
}
.header-mobile__item-rigth {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.header-mobile__item-rigth a {
	width: 30px;
	height: 30px;
	display: block;
}
.header-mobile__item-rigth a img {
	width: 100%;
	height: 100%;
}
.header-mobile__item-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.header-mobile__row-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 10px 0 0 0;
}
.header-mobile__logo {
	margin: 0 0 0 60px;
	width: 200px;
}
@media (max-width: 351px) {
	.header-mobile__logo {
		width: 150px;
	}
}
.header-mobile__logo img {
	width: 100%;
}
.header-mobile__login {
	margin: 0 25px 0 0;
	z-index: 2;
}
.header-mobile__basket a {
	position: relative;
}
.header-mobile__basket a::after {
	content: "1";
	position: absolute;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: 25px;
	border: 1px solid #FC9A00;
	background: #FC9A00;
	border-radius: 50%;
	left: -8px;
	top: -7px;
	padding: 0px 6px 0 6px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}
.header-mobile__catalog {
	margin: 0;
	z-index: -1;
}
.header-mobile__catalog ul > li > ul > li > ul {
	left: 0;
	top: 50px;
	z-index: 1;
}
.header-mobile__row-buttom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 20px 0 0 0;
}
.header-mobile__row-buttom div {
	padding: 0;
	width: 40%;
}

.menu-wrapper.active {
	left: 0;
}

.menu__wrapper {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;
	overflow-x: auto;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	background: #fff;
}
.menu__item-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 70px 10px 0 10px;
}
.menu__fhone a {
	color: black;
}
.menu__info {
	margin: 0;
}
.menu__buttom-menu {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	margin: 0 auto;
}
.menu__buttom-menu ul {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.menu__buttom-menu ul li {
	margin: 15px 0 0 0;
}
.menu__buttom-menu ul li::after {
	display: none;
}
.menu__buttom-menu ul li a {
	font-size: 16px;
	font-weight: 900;
}
/*=========================================================================================================*/
/*body.mouse*/
.catalog__list > li:hover .sub-catalog__list {
	display: block;
}

/*body.mouse*/
.sub-catalog__list > li:hover .last-catalog__list {
	display: block;
}

.icon-menu {
	display: block;
	position: absolute;
	top: 18px;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 5;
	margin: 3px 0 0 0;
}
.icon-menu span {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #FFB100;
}
.icon-menu span:first-child {
	top: 0px;
}
.icon-menu span:last-child {
	top: auto;
	bottom: 0px;
}
.icon-menu.active span {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.icon-menu.active span:first-child {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 8px;
}
.icon-menu.active span:last-child {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: 8px;
}

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background: #403C3B;
	padding: 30px 0 0 0;
}
.footer__bottom {
	background: #383434;
}

.foot-text {
	font-family: Roboto;
	font-size: 16px;
	line-height: 40px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
}

.footer-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 0 57px 0;
	margin: 0 15px;
}
@media (max-width: 1182px) {
	.footer-top {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 0 0 30px 0;
	}
}
@media (max-width: 1182px) {
	.item-logo {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}
@media (max-width: 622px) {
	.item-logo {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
@media (max-width: 767.98px) {
	.item-logo__logo-img {
		display: none;
	}
}
.item-logo__text {
	width: 239px;
	margin: 22px 0 0 0;
}
@media (max-width: 622px) {
	.item-logo__text {
		width: 100%;
	}
}
.item-logo__text > p {
	font-family: Roboto;
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fefefe;
}
@media (max-width: 622px) {
	.item-logo__text > p {
		text-align: center;
	}
}
.item-logo__form {
	margin: 20px 0 0 0;
}
@media (max-width: 767.98px) {
	.item-logo__form {
		width: 51%;
	}
}
@media (max-width: 622px) {
	.item-logo__form {
		width: 100%;
	}
}
.item-logo__form > form > input {
	width: 360px;
	height: 38px;
	background: #403C3B url(../img/icons/letter3.svg) no-repeat;
	background-position-y: 50%;
	background-position-x: 315px;
	border: 1px solid #9F9D9D;
	padding: 0 0 0 11px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fefefe;
}
@media (max-width: 991.98px) {
	.item-logo__form > form > input {
		width: auto;
	}
}
@media (max-width: 767.98px) {
	.item-logo__form > form > input {
		width: 100%;
		background-position-x: 97%;
	}
}
.item-logo__form > form > input::-webkit-input-placeholder {
	color: #F9F9F9;
}
.item-logo__form > form > input::-moz-placeholder {
	color: #F9F9F9;
}
.item-logo__form > form > input:-ms-input-placeholder {
	color: #F9F9F9;
}
.item-logo__form > form > input::-ms-input-placeholder {
	color: #F9F9F9;
}
.item-logo__form > form > input::placeholder {
	color: #F9F9F9;
}

.item-menu {
	margin: 0 92px 0 92px;
}
@media (max-width: 1182px) {
	.item-menu {
		margin: 0;
	}
}
@media (max-width: 767.98px) {
	.item-menu {
		display: none;
	}
}
.item-menu li a {
	font-family: Roboto;
	font-size: 15px;
	line-height: 34px;
	font-weight: 400;
	color: #998985;
}
.item-menu li a:hover {
	color: #fefefe;
}
.item-menu__text {
	margin: 0 0 12px 0;
}
@media (max-width: 1182px) {
	.item-menu__text {
		margin: 0;
	}
}
.item-menu__item-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 1182px) {
	.item-menu__item-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
@media (max-width: 1182px) {
	.item-menu__menu {
		margin: 10px 0 0 0;
	}
}
.item-menu__left {
	margin: 0 55px 0 0;
}
@media (max-width: 1182px) {
	.item-menu__left {
		margin: 0;
	}
}
@media (max-width: 1182px) {
	.item-menu__left ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}
@media (max-width: 1182px) {
	.item-menu__right ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

@media (max-width: 1182px) {
	.item-contact {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: baseline;
		    -ms-flex-align: baseline;
		        align-items: baseline;
		margin: 17px 0 0 0;
	}
}
@media (max-width: 600px) {
	.item-contact {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
.item-contact__text {
	margin: 0 0 12px 0;
}
.item-contact__fhone ul li a {
	color: #ffffff;
}
.item-contact__fhone ul li a:hover {
	color: #998985;
}
.item-contact__mail-wrapper {
	margin: 18px 0 0 0;
}
.item-contact__mail-wrapper ul li {
	margin: 0px 0 0 39px;
}
.item-contact__mail-wrapper ul li a {
	color: #ffffff;
}
.item-contact__mail-wrapper ul li a:hover {
	color: #998985;
}
.item-contact__social {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin: 25px 0 0 0;
}
.item-contact__social > a {
	border-radius: 50%;
	background: white;
}

.footer-bottom__wrapper {
	margin: 0 15px;
	padding: 17px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 548px) {
	.footer-bottom__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
@media (max-width: 500px) {
	.footer-bottom__item-nav {
		width: 100%;
	}
}
.footer-bottom__item-nav nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 500px) {
	.footer-bottom__item-nav nav ul {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}
.footer-bottom__item-nav nav ul li a {
	font-family: Roboto;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #8b8787;
	margin: 0 30px 0 0;
}
@media (max-width: 455px) {
	.footer-bottom__item-nav nav ul li a {
		margin: 0px;
	}
}
.footer-bottom__item-nav nav ul li a:hover {
	color: #fff;
}
.footer-bottom__item-nav nav ul li:last-child {
	margin: 0;
}
.footer-bottom__item-copyrigth p {
	font-family: Roboto;
	font-size: 14px;
	line-height: 34px;
	font-weight: 400;
	color: #8b8787;
}

/* Слайдер */
.product-card__slider-item .product-item .slick-slide {
	width: 289px;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
	position: absolute;
	display: inline !important;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 0px;
	background-color: #f7f7f7;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 3;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
	background-image: url(../img/icons/p-left.svg);
	top: 50%;
	right: 97.2%;
}
.slick-arrow.slick-prev:hover {
	background-image: url(../img/icons/p-lefty.svg);
}
@media (max-width: 762px) {
	.slick-arrow.slick-prev {
		top: 50%;
		right: 91.2%;
	}
}

/* Стрелка вправо */
.slick-arrow.slick-next {
	left: 97.2%;
	top: 50%;
	background-image: url(../img/icons/p-right.svg);
}
.slick-arrow.slick-next:hover {
	background-image: url(../img/icons/p-righty.svg);
}
@media (max-width: 762px) {
	.slick-arrow.slick-next {
		left: 91.2%;
		top: 50%;
	}
}

/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: absolute;
	top: 90%;
	left: 50%;
}
@media (max-width: 746px) {
	.slick-dots {
		left: 47%;
	}
}
@media (max-width: 601px) {
	.slick-dots {
		left: 45%;
		top: 86%;
	}
}
@media (max-width: 434px) {
	.slick-dots {
		left: 40%;
	}
}

.top-footer__slider-body > .slick-dots {
	top: 110%;
	left: 45%;
	z-index: 2;
}
@media (max-width: 939px) {
	.top-footer__slider-body > .slick-dots {
		left: 42%;
	}
}
@media (max-width: 433px) {
	.top-footer__slider-body > .slick-dots {
		left: 39%;
	}
}
@media (max-width: 345px) {
	.top-footer__slider-body > .slick-dots {
		left: 33%;
	}
}

.slick-dots li {
	list-style: none;
	margin: 0 10px;
}

/* Активная точка */
.slick-dots li.slick-active button:after {
	position: absolute;
	/* top: -11%; */
	bottom: -113%;
	left: -100.5%;
	content: "";
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #fff;
}

.top-footer__slider-body > .slick-dots li.slick-active button {
	background-color: #FD9B00;
}
.top-footer__slider-body > .slick-dots li.slick-active button:after {
	border: 1px solid #FD9B00;
	bottom: -109%;
	left: -106.5%;
}

/* Элемент точки */
.slick-dots li button {
	font-size: 0;
	width: 10px;
	height: 10px;
	/*border:1px solid #848789;*/
	border-radius: 50%;
	background-color: #fff;
	position: relative;
}

.top-footer__slider-body > .slick-dots li button {
	background-color: #C6C1C1;
}

/*section sub-menu-slider======================================================================================*/
.content-wrapper {
	background-color: #f7f7f7;
}

.sub-block {
	position: relative;
	width: 100%;
	height: 20px;
	background-color: #f7f7f7;
	z-index: 1;
}

.sub-menu-slider__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.sub-menu-slider__wrapper {
	width: 100%;
	height: 430px;
}
@media (max-width: 616px) {
	.sub-menu-slider__wrapper {
		height: 335px;
	}
}
@media (max-width: 552px) {
	.sub-menu-slider__wrapper {
		height: 301px;
	}
}
@media (max-width: 392px) {
	.sub-menu-slider__wrapper {
		height: 260px;
	}
}
.sub-menu-slider__body {
	width: 100%;
	height: 100%;
	position: relative;
}
.sub-menu-slider__item {
	width: 100%;
	height: 100%;
	position: relative;
}
.sub-menu-slider__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: right;
}
.sub-menu-slider__img > img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.sub-menu-slider__circle_grey {
	position: absolute;
	left: 50%;
	top: -23%;
	background-color: rgba(140, 135, 135, 0.8);
	width: 50%;
	height: 87%;
	border-radius: 125% 0 122% 221%;
}
@media (max-width: 991.98px) {
	.sub-menu-slider__circle_grey {
		border-radius: 93% 0 97% 148%;
	}
}
@media (max-width: 762px) {
	.sub-menu-slider__circle_grey {
		border-radius: 110% 0 107% 131%;
		top: -32%;
	}
}
@media (max-width: 616px) {
	.sub-menu-slider__circle_grey {
		border-radius: 101% 0 117% 186%;
		top: -45%;
	}
}
@media (max-width: 552px) {
	.sub-menu-slider__circle_grey {
		border-radius: 124% 0 120% 216%;
		top: -32%;
		width: 67%;
		height: 85%;
	}
}
@media (max-width: 392px) {
	.sub-menu-slider__circle_grey {
		border-radius: 124% 0 217% 216%;
	}
}
@media (max-width: 392px) {
	.sub-menu-slider__circle_grey {
		left: 33%;
		width: 83%;
	}
}
.sub-menu-slider__circle_grey h2 {
	position: absolute;
	top: 50%;
	left: 60%;
	width: 42%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	font-family: Roboto;
	font-size: 34px;
	line-height: 45px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}
@media (max-width: 1182px) {
	.sub-menu-slider__circle_grey h2 {
		font-size: 30px;
	}
}
@media (max-width: 991.98px) {
	.sub-menu-slider__circle_grey h2 {
		top: 43%;
		left: 53%;
		font-size: 23px;
	}
}
@media (max-width: 762px) {
	.sub-menu-slider__circle_grey h2 {
		top: 55%;
		left: 53%;
		font-size: 19px;
		width: 47%;
	}
}
@media (max-width: 616px) {
	.sub-menu-slider__circle_grey h2 {
		top: 67%;
		left: 53%;
		font-size: 17px;
		line-height: 30px;
	}
}
@media (max-width: 552px) {
	.sub-menu-slider__circle_grey h2 {
		top: 54%;
		left: 49%;
	}
}
@media (max-width: 392px) {
	.sub-menu-slider__circle_grey h2 {
		font-size: 14px;
	}
}
.sub-menu-slider__circle_grey h3 {
	position: absolute;
	top: 68%;
	left: 59%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	font-family: Roboto;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
}
@media (max-width: 991.98px) {
	.sub-menu-slider__circle_grey h3 {
		top: 62%;
		left: 53%;
		font-size: 20px;
	}
}
@media (max-width: 762px) {
	.sub-menu-slider__circle_grey h3 {
		top: 70%;
		left: 47%;
		font-size: 20px;
	}
}
@media (max-width: 616px) {
	.sub-menu-slider__circle_grey h3 {
		top: 80%;
		left: 49%;
		font-size: 17px;
	}
}
@media (max-width: 552px) {
	.sub-menu-slider__circle_grey h3 {
		top: 73%;
		left: 44%;
	}
}
@media (max-width: 392px) {
	.sub-menu-slider__circle_grey h3 {
		font-size: 14px;
	}
}
.sub-menu-slider__circle_yellow {
	position: absolute;
	left: 60%;
	top: 38%;
	width: 134px;
	height: 134px;
	border-radius: 50%;
	background-color: #ff9c00;
}
@media (max-width: 616px) {
	.sub-menu-slider__circle_yellow {
		top: 29%;
		width: 101px;
		height: 100px;
	}
}
@media (max-width: 552px) {
	.sub-menu-slider__circle_yellow {
		top: 38%;
	}
}
@media (max-width: 392px) {
	.sub-menu-slider__circle_yellow {
		width: 80px;
		height: 80px;
	}
}
.sub-menu-slider__circle_yellow h2 {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	color: #35302d;
	text-align: center;
}
@media (max-width: 616px) {
	.sub-menu-slider__circle_yellow h2 {
		font-size: 16px;
		line-height: 0px;
	}
}
.sub-menu-slider__circle_yellow h2 span {
	font-size: 40px;
	line-height: 56px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}
@media (max-width: 616px) {
	.sub-menu-slider__circle_yellow h2 span {
		font-size: 35px;
	}
}
@media (max-width: 392px) {
	.sub-menu-slider__circle_yellow h2 span {
		line-height: 44px;
		font-size: 30px;
	}
}

/*========================================================================================================*/
.product-card__slider-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
}
.product-card__slider-item {
	width: 289px;
}

.triangle__text {
	position: absolute;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	font-family: Roboto;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
}
.triangle_green {
	border-top: 88px solid #39C05F;
	border-right: 88px solid transparent;
	position: absolute;
	top: -1px;
	left: -1px;
}
.triangle_green p {
	bottom: 52px;
}
.triangle_red {
	border-top: 88px solid #FF411C;
	border-right: 88px solid transparent;
	position: absolute;
	top: -1px;
	left: -1px;
}
.triangle_red p {
	bottom: 52px;
	left: 8px;
}
.triangle_yellow {
	border-top: 88px solid #FC9A00;
	border-right: 88px solid transparent;
	position: absolute;
	top: -1px;
	left: -1px;
}
.triangle_yellow p {
	bottom: 44px;
	left: 0px;
	text-align: center;
}

.top-title {
	max-width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding: 43px 10px 43px 10px;
	position: relative;
}
@media (max-width: 366px) {
	.top-title {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 21px 10px 10px 10px;
	}
}
.top-title h2 {
	margin: 0 auto;
	font-family: Roboto;
	font-size: 22px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
	color: #7c7373;
}
.top-title a {
	position: absolute;
	display: block;
	font-family: Roboto;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-decoration: underline;
	color: #ff9c00;
}
.top-title a:hover {
	color: #7c7373;
}
@media (max-width: 568px) {
	.top-title a {
		position: static;
	}
}
@media (max-width: 366px) {
	.top-title a {
		margin: 10px 0 0 0;
	}
}

.product-item {
	padding: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 289px;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0);
}
.product-item__link-img {
	max-width: 100%;
	height: 81%;
}
.product-item__link-img img {
	-o-object-fit: cover;
	   object-fit: cover;
	height: 100%;
	width: 100%;
}
.product-item__link-img:hover .product-item {
	border-color: #ff9c00;
}
.product-item > h2 {
	font-family: Roboto;
	font-size: 15px;
	line-height: 22px;
	font-weight: 500;
	color: #000000;
	text-align: center;
	margin: 15px 0 0 0;
}
.product-item > h3 {
	margin: 20px 0 13px 0;
	text-align: center;
	font-family: Roboto;
	font-size: 20px;
	line-height: 22px;
	font-weight: 700;
	color: #000000;
}
@media (max-width: 480px) {
	.product-item > h3 {
		font-size: 14px;
	}
}
.product-item > h3 span {
	font-size: 16px;
	font-weight: 400;
	color: #7c7373;
	text-transform: uppercase;
	text-decoration: line-through;
	-webkit-text-decoration-color: #ff0000;
	        text-decoration-color: #ff0000;
	margin: 0 15px 0 0;
}
.product-item__link {
	background: url(../img/bakcgraund/bagy.jpg);
	background-repeat: no-repeat;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 13px 0 13px 0;
	text-align: center;
	font-family: Roboto;
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
	border: 1px solid #fd9b00;
}
.product-item__link:hover {
	background: url(../img/bakcgraund/bagw.jpg);
	color: #010101;
}
@media (max-width: 453px) {
	.product-item__link {
		background-size: cover;
	}
}
@media (max-width: 480px) {
	.product-item__link {
		padding: 8px 0 8px 0;
	}
}
.product-item__link > img {
	left: 72px;
	width: 24px;
	height: 22px;
	margin: 0 12px 0 0;
}
.product-item__link::before {
	content: "";
	background-image: url(../img/icons/corsina.svg);
	background-position: center;
	background-size: cover;
	width: 24px;
	height: 22px;
	margin: 0 12px 0 0;
}
.product-item__link:hover::before {
	background-image: url(../img/icons/corsina.svg.svg);
}
.product-item__sub-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 11px 0 0 0;
}
.product-item__sub-link:hover .product-item__sub-link_link {
	color: #7c7373;
}
.product-item__sub-link_img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #00b5ab;
	position: relative;
}
@media (max-width: 445px) {
	.product-item__sub-link_img {
		display: none;
	}
}
.product-item__sub-link_img > img {
	width: 78%;
	height: 78%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.product-item__sub-link_link {
	margin: 0 0 0 13px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	color: #00b5ab;
}
@media (max-width: 445px) {
	.product-item__sub-link_link {
		margin: 0;
		text-align: center;
	}
}

/*===stock-product===================================================================================*/
.stock-product__slider-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	margin: 0 0 42px 0;
}
/*======feedBack-form=============================================================================================*/
.feedBack-form__wrapper {
	background-image: url(../img/bakcgraund/formback.jpg);
	background-size: cover;
	padding: 18px 114px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 767.98px) {
	.feedBack-form__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 18px 0px;
	}
}
.feedBack-form__text {
	font-family: Roboto;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fefefe;
}
@media (max-width: 450px) {
	.feedBack-form__text {
		text-align: center;
	}
}
.feedBack-form__form {
	width: 458px;
	height: 38px;
	border: 1px solid #4CCBC4;
}
@media (max-width: 1182px) {
	.feedBack-form__form {
		width: 50%;
	}
}
@media (max-width: 767.98px) {
	.feedBack-form__form {
		width: 60%;
		margin: 5px 0;
	}
}
.feedBack-form__form input {
	width: 100%;
	height: 100%;
	padding: 0 0 0 11px;
	background: rgba(255, 255, 255, 0) url(../img/icons/letter.svg) no-repeat;
	background-position-y: 50%;
	background-position-x: 410px;
	/*background-image: url(../img/icons/letter.svg);*/
	font-family: Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}
.feedBack-form__form input:hover {
	background: #66D3CD url(../img/icons/letter2.svg) no-repeat;
	background-position-y: 50%;
	background-position-x: 410px;
}
@media (max-width: 767.98px) {
	.feedBack-form__form input {
		background-position-x: 97%;
	}
}
.feedBack-form__form input::-webkit-input-placeholder {
	font-family: Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}
.feedBack-form__form input::-moz-placeholder {
	font-family: Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}
.feedBack-form__form input:-ms-input-placeholder {
	font-family: Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}
.feedBack-form__form input::-ms-input-placeholder {
	font-family: Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}
.feedBack-form__form input::placeholder {
	font-family: Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}

/*========our-garant==================================================================================================*/
.our-garant__title > h2 {
	margin: 0 auto;
}
.our-garant__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 790px) {
	.our-garant__wrapper {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
.our-garant__item {
	width: 262px;
	margin: 0 15px;
	padding: 90px 0 24px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #fff;
	-webkit-box-shadow: 0 0 100px #EBEBEB;
	        box-shadow: 0 0 100px #EBEBEB;
}
@media (max-width: 790px) {
	.our-garant__item {
		margin: 5px 15px;
	}
}
.our-garant__item > img {
	position: absolute;
	left: 50%;
	top: 50px;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.our-garant__item > p {
	text-align: center;
	width: 160px;
	margin: 0 auto;
	font-family: Roboto;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	letter-spacing: 0;
	color: #000000;
}

/*========top-footer=========================================================================================*/
.top-footer__title > h2 {
	margin: 0 auto;
}
.top-footer__slider-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	position: relative;
}
.top-footer__item {
	position: relative;
	margin: 0 15px;
	width: 50%;
	height: 295px;
}
@media (max-width: 1182px) {
	.top-footer__item {
		height: 266px;
	}
}
@media (max-width: 991.98px) {
	.top-footer__item {
		height: 211px;
	}
}
@media (max-width: 700px) {
	.top-footer__item {
		height: 190px;
	}
}
@media (max-width: 658px) {
	.top-footer__item {
		height: 260px;
	}
}
@media (max-width: 422px) {
	.top-footer__item {
		height: 220px;
	}
}
@media (max-width: 356px) {
	.top-footer__item {
		height: 200px;
	}
}
.top-footer__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.top-footer__text-top {
	position: absolute;
	top: 63%;
	left: 15%;
	font-family: Roboto;
	width: 171px;
	text-align: center;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}
@media (max-width: 991.98px) {
	.top-footer__text-top {
		left: 7%;
		font-size: 14px;
	}
}
@media (max-width: 700px) {
	.top-footer__text-top {
		left: 4%;
		font-size: 11px;
	}
}
@media (max-width: 658px) {
	.top-footer__text-top {
		left: 16%;
		font-size: 17px;
	}
}
@media (max-width: 532px) {
	.top-footer__text-top {
		left: 13%;
	}
}
@media (max-width: 477px) {
	.top-footer__text-top {
		left: 11%;
		font-size: 14px;
	}
}
@media (max-width: 429px) {
	.top-footer__text-top {
		left: 8%;
	}
}
@media (max-width: 429px) {
	.top-footer__text-top {
		left: 7%;
		font-size: 12px;
	}
}
@media (max-width: 374px) {
	.top-footer__text-top {
		left: 5%;
	}
}
@media (max-width: 349px) {
	.top-footer__text-top {
		left: 1%;
		font-size: 11px;
	}
}
.top-footer__text-bottom {
	position: absolute;
	font-family: Roboto;
	top: 79%;
	left: 17%;
	width: 149px;
	text-align: center;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 400;
	color: #a36708;
}
@media (max-width: 991.98px) {
	.top-footer__text-bottom {
		left: 11%;
		font-size: 16px;
	}
}
@media (max-width: 700px) {
	.top-footer__text-bottom {
		left: 8%;
		font-size: 13px;
	}
}
@media (max-width: 658px) {
	.top-footer__text-bottom {
		left: 18%;
		font-size: 15px;
	}
}
@media (max-width: 532px) {
	.top-footer__text-bottom {
		left: 15%;
	}
}
@media (max-width: 477px) {
	.top-footer__text-bottom {
		left: 14%;
		font-size: 13px;
	}
}
@media (max-width: 429px) {
	.top-footer__text-bottom {
		left: 12%;
	}
}
@media (max-width: 374px) {
	.top-footer__text-bottom {
		left: 8%;
	}
}
@media (max-width: 349px) {
	.top-footer__text-bottom {
		left: 5%;
	}
}
.top-footer__text {
	position: absolute;
	text-align: center;
	top: 24%;
	left: 9%;
	-webkit-transform: rotate(-10deg);
	    -ms-transform: rotate(-10deg);
	        transform: rotate(-10deg);
	font-family: Roboto;
	font-size: 33.9px;
	line-height: 45px;
	font-weight: 900;
	color: #000000;
}
@media (max-width: 1182px) {
	.top-footer__text {
		top: 23%;
		left: 8%;
		font-size: 24.9px;
	}
}
@media (max-width: 991.98px) {
	.top-footer__text {
		font-size: 21.9px;
		-webkit-transform: rotate(-11deg);
		    -ms-transform: rotate(-11deg);
		        transform: rotate(-11deg);
		line-height: 32px;
	}
}
@media (max-width: 700px) {
	.top-footer__text {
		font-size: 18.9px;
		top: 26%;
	}
}
@media (max-width: 658px) {
	.top-footer__text {
		-webkit-transform: rotate(-9deg);
		    -ms-transform: rotate(-9deg);
		        transform: rotate(-9deg);
	}
}
@media (max-width: 477px) {
	.top-footer__text {
		-webkit-transform: rotate(-11deg);
		    -ms-transform: rotate(-11deg);
		        transform: rotate(-11deg);
		left: 10%;
		font-size: 16.9px;
	}
}
@media (max-width: 398px) {
	.top-footer__text {
		left: 12%;
		font-size: 11.9px;
	}
}
@media (max-width: 369px) {
	.top-footer__text {
		-webkit-transform: rotate(-12deg);
		    -ms-transform: rotate(-12deg);
		        transform: rotate(-12deg);
	}
}
@media (max-width: 345px) {
	.top-footer__text {
		left: 9%;
	}
}
.top-footer__text > span {
	display: block;
	font-size: 20.3px;
	line-height: 30px;
	font-weight: 900;
}
@media (max-width: 1182px) {
	.top-footer__text > span {
		font-size: 17.3px;
	}
}
@media (max-width: 991.98px) {
	.top-footer__text > span {
		font-size: 13.3px;
	}
}
@media (max-width: 700px) {
	.top-footer__text > span {
		font-size: 10.3px;
		line-height: 10px;
	}
}
@media (max-width: 658px) {
	.top-footer__text > span {
		font-size: 16.3px;
		line-height: 30px;
	}
}
@media (max-width: 477px) {
	.top-footer__text > span {
		font-size: 13.3px;
	}
}
@media (max-width: 398px) {
	.top-footer__text > span {
		font-size: 10.3px;
	}
}
.top-footer__circle {
	position: absolute;
	top: 63%;
	left: 273px;
	width: 74px;
	height: 74px;
	border-radius: 50%;
	background-color: #D42428;
}
@media (max-width: 991.98px) {
	.top-footer__circle {
		top: 51%;
		left: 52%;
	}
}
.top-footer__in-ciecle {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 40px;
	height: 25px;
	border-radius: 5px;
	background-color: #fff;
}
.top-footer__arrow {
	position: absolute;
	left: 55%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border-top: 8px solid transparent;
	border-left: 13px solid #D42428;
	border-bottom: 8px solid transparent;
}

/*=====last-text================================================================================================*/
.last-text {
	padding: 100px 0 75px 0;
}
.last-text__text {
	margin: 0 15px;
	padding: 15px 15px 0 0;
	height: 90px;
	overflow-y: scroll;
	font-family: Roboto;
	font-size: 13px;
	line-height: 1.2;
	font-weight: 400;
	color: #7c7373;
}
.last-text__arrow-top {
	position: absolute;
	left: 93%;
	top: 84%;
	width: 76px;
	height: 76px;
	background-color: #FBC063;
}
.last-text__arrow-top > div {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 30px;
	height: 43px;
	background: #F7F7F7;
	-webkit-clip-path: polygon(0 50%, 50% 0, 100% 47%, 75% 48%, 75% 100%, 23% 100%, 23% 50%);
	        clip-path: polygon(0 50%, 50% 0, 100% 47%, 75% 48%, 75% 100%, 23% 100%, 23% 50%);
}