//====================================================================================================
.popup {
	position:absolute;
	left:0;
	top:0;
	height: 100vh;
	width:100%;
	z-index: 10;
	background: rgb(0%, 0%, 0%, 0.5);
}

.popup-registration{
	display:none;
}
.title {
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 32px 0;
			> p {
				font-family: Roboto;
				font-size: 40px;
				line-height: 1.2;
				font-weight: 300;
				color: #010101;
			}
			> div {
				width: 23px;
				height: 23px;
				position: relative;
				cursor: pointer;
				&:hover span {
					background: #fe9b00;
				}
				span {
					position: absolute;
					width: 25px;
					height: 1px;
					background: #706F7E;
					display: block;
					top:50%;
					left: -2%;
					transition: 0.2s;
				}
				span:first-child {
					transform: rotate(45deg);
				}
				span:last-child {
					transform: rotate(-45deg);
				}
			}
}

.form {
	div {
				height: 46px;
				margin: 0 0 15px 0;
			}

			input {
				width: 100%;
				height: 100%;
				border: 1px solid #ECECEC;
				border-left: 2px solid #ECECEC;
				border-top: 2px solid #ECECEC;
				background: #F5F5F5;
				padding:4px 0 0 40px;
				&:hover {
					border: 1px solid #FCB239;
					border-left: 2px solid #FCB239;
					border-top: 2px solid #FCB239;
					background: #FDF9E4;
				}
				&:focus{
					border: 1px solid #FCB239;
					border-left: 2px solid #FCB239;
					border-top: 2px solid #FCB239;
					background: #FDF9E4;
				}
				&::placeholder {
					font-family: Roboto;
					font-size: 16px;
					line-height: 1.2;
					font-weight: 400;
					color: #7c7373;
				}
			}
}
.form-block {
		position: absolute;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
		width: 440px;
		padding:30px 39px;
		background: #fff;
}

.name {
	
	input {
		background-image: url(../img/icons/name.svg);
		background-repeat: no-repeat;
		background-position-y: 50%;
		background-position-x: 15px;
		&:hover {
			background-image: url(../img/icons/name2.svg);
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: 15px;
			}
		&:focus {
			background-image: url(../img/icons/name2.svg);
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: 15px;
				}
			}
}

.surname {
	
	input {
	background-image: url(../img/icons/name.svg);
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 15px;
		&:hover {
			background-image: url(../img/icons/name2.svg);
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: 15px;
			}
		&:focus {
			background-image: url(../img/icons/name2.svg);
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: 15px;
			}
		}
}

.fhone {
	
	input {
		background-image: url(../img/icons/phone.svg);
		background-repeat: no-repeat;
		background-position-y: 50%;
		background-position-x: 15px;
		&:hover {
			background-image: url(../img/icons/phone2.svg);
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: 15px;
			}
		&:focus {
			background-image: url(../img/icons/phone2.svg);
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: 15px;
				}
			}
}

.mail {

	input {
		background-image: url(../img/icons/mail.svg);
		background-repeat: no-repeat;
		background-position-y: 50%;
		background-position-x: 15px;
		&:hover {
			background-image: url(../img/icons/mail2.svg);
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: 15px;
			}
		&:focus {
			background-image: url(../img/icons/mail2.svg);
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: 15px;
			}
		}	
}

.password {

	input {
		background-image: url(../img/icons/lock.svg);
		background-repeat: no-repeat;
		background-position-y: 50%;
		background-position-x: 15px;
		&:hover {
			background-image: url(../img/icons/lock2.svg);
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: 15px;
			}
		&:focus {
			background-image: url(../img/icons/lock2.svg);
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: 15px;
			}
		}	
}

.password-repeat {

	input {
		background-image: url(../img/icons/lock.svg);
		background-repeat: no-repeat;
		background-position-y: 50%;
		background-position-x: 15px;
		&:hover {
			background-image: url(../img/icons/lock2.svg);
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: 15px;
			}
		&:focus {
			background-image: url(../img/icons/lock2.svg);
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: 15px;
			}
		}	
}

.btn {
	
	text-align: center;
	input {
		width: 291px;
		padding:0 0 0 26px;
		background-color: #fd9b00;
		background-image: url(../img/icons/enter.svg);
		background-repeat: no-repeat;
		background-position-y: 50%;
		background-position-x: 74px;
		text-transform: uppercase;
		color:#fff;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 400;
		line-height: 22px;
		&:hover {
			background-color: #fff;
			color:#000;
			font-weight: 400;
			background-image: url(../img/icons/enter2.svg);
			background-repeat: no-repeat;
			background-position-y: 50%;
			background-position-x: 74px;
			}	
		}
}

.sub-title-form {

	text-align: center;
	color: #7c7373;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 35px;
	a {
		color: #00b5ab;
		font-weight: 500;
		&:hover{
		text-decoration: underline;
		}
	}
}

.registration-form {
		
		&__title {	
		}

		&__form {	
		}

		&__name {
		}

		&__surname {
		}

		&__fhone {
		}

		&__mail {
		}

		&__password {
		}

		&__password-repeat {
		}

		&__btn {
		}

		&__sub-title {
			text-align: center;
			color: #7c7373;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 400;
			line-height: 35px;
			a {
				color: #00b5ab;
				font-weight: 500;
				&:hover{
					text-decoration: underline;
				}
			}
		}
}


.popup-enter {
	display:none;
}

 .enter-form {

		&__title {
		}

		&__form {
		}

		&__mail {
		}

		&__password {
		}

		&__restablish-pass {
		}

		&__btn {
		}
}

.enter-form {

		&__title {
		}

		&__form {
		}

		&__mail {
		}

		&__password {
		}

		&__restablish-pass {
			text-align: center;
			margin: 15px 0 20px 0;
			a {
				color: #00b5ab;
				font-family: Roboto;
				font-size: 15px;
				font-weight: 500;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__btn {
			input {
				background-position-y: 50%;
				background-position-x: 105px;
				&:hover {
					background-position-y: 50%;
					background-position-x: 105px;
				}
			}
		}

		&__sub-title {
		}
}



.popup-buy {
	display: none;
}
.form-buy {
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 440px;
	background: #fff;
	padding:25px;
	a {
		display: block;
		width: 293px;
		text-align: center;
		border:1px solid #fd9b00;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 400;
		line-height: 22px;
		text-transform: uppercase;
		color:#fff;
		transition: 0.3s;
		
	}
		&__title {
			justify-content: flex-end;
			margin:0;
		}

		&__text {
			width: 293px;
			padding: 0 7px;
			margin: 0 auto;
			p {
				color: #010101;
				font-family: Roboto;
				font-size: 20px;
				font-weight: 300;
				text-align: center;
			}
		}

		&__checkout {
			padding:15px 0 15px 30px;
			margin:25px auto 0;
			background: #fd9b00;//Задаем основной фон формы ввода
			background-image: url(../img/icons/chek.svg);//делаем второй фон картинкой
			background-repeat: no-repeat;//делаем так что бы она не повторялась
			background-position-y: 50%;//позиционируем по у как на нужно
			background-position-x: 60px;// позиционируем по х как нам нужно 
			&:hover {
				background: #fff;
				color:#000;
				background-image: url(../img/icons/chek2.svg);
				background-repeat: no-repeat;
				background-position-y: 50%;
				background-position-x: 60px;
			}
		}

		&__continue {
			padding:15px 0;
			margin:15px auto 0;
			background: #fd9b00;
			&:hover {
				background: #fff;
				color:#000;
			}
		}
}
.active {
	display:block;
}





//====================================================================================================
//====================================================================================================

