//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>=================================== =======================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "sans-serif";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	position: relative;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//@import "forms.scss";
//@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

// Слайдер ----------------------------------------------------------------
/* Слайдер */
.slick-slider{}
.product-card__slider-item .product-item .slick-slide {
	width:289px;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	height: 100%;
	width: 100%;
	overflow:hidden;
}
/* Лента слайдов */
.slick-track{
	height: 100%;
    display: flex;
}

/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
	position: absolute;
    display: inline!important;
    width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 0px;
	background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	background-image: url(../img/icons/p-left.svg);
    top: 50%;
	right: 97.2%;
	&:hover {
		background-image: url(../img/icons/p-lefty.svg);
	}
	@media (max-width: 762px) {
		top: 50%;
    	right: 91.2%;			
	}
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	left: 97.2%;
    top: 50%;
	background-image: url(../img/icons/p-right.svg);
	&:hover {
		background-image: url(../img/icons/p-righty.svg);
	}
	@media (max-width: 762px) {
		left: 91.2%;
    	top: 50%;			
	}
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
	display: flex !important;
	align-items: center;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 50%;
}
.top-footer__slider-body > .slick-dots{
	top: 110%;
	left: 45%;
	z-index: 2;
}
.slick-dots li{
	list-style: none;
	margin: 0 10px;
}
/* Активная точка */
.slick-dots li.slick-active button {
	&:after {
    position: absolute;
    /* top: -11%; */
    bottom: -113%;
    left: -100.5%;
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #fff;
	}
}

.top-footer__slider-body > .slick-dots li.slick-active button {
	background-color:#FD9B00 ;
	&:after {
	border: 1px solid #FD9B00;
	bottom: -109%;
    left: -106.5%;
	}
}
/* Элемент точки */
.slick-dots li button{
	font-size: 0;
	width: 10px;
	height: 10px;
	/*border:1px solid #848789;*/
	border-radius: 50%;
	background-color:#fff;
	position: relative;
}
.top-footer__slider-body > .slick-dots li button {
	background-color:#C6C1C1;
}
//<ОСНОВНОЙ БЛОК>====================================================================================================

/*section sub-menu-slider======================================================================================*/

.content-wrapper {
	background-color: #f7f7f7;
}
.sub-block {
	position: relative;
    width: 100%;
    height: 20px;
    background-color: #f7f7f7;
    z-index: 1;
}
.sub-menu-slider {
		&__link {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;

		}
		
		&__wrapper {
			width: 100%;
			height: 430px;
			@media (max-width: 616px) {
				height: 335px;
			}
			@media (max-width: 552px) {
				height: 301px;
			}
			@media (max-width: 392px) {
				height: 260px;
			}

		}

		&__body {
			width: 100%;
			height: 100%;
			position:relative;
		}

		&__item {
			width: 100%;
			height: 100%;
			position: relative;
		}

		&__img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: right;
			>img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			
		}

		&__circle {
			&_grey {
				position: absolute;
    			left: 50%;
    			top: -23%;
    			background-color: rgb(55%, 53%, 53%, 0.8);
    			width: 50%;
    			height: 87%;
				border-radius: 125% 0 122% 221%;
				@media (max-width: $md2+px) {
					border-radius: 93% 0 97% 148%;
				}
				@media (max-width: 762px) {
					border-radius: 110% 0 107% 131%;
					top: -32%;
				}
				@media (max-width: 616px) {
					border-radius: 101% 0 117% 186%;
    				top: -45%;
				}
				@media (max-width: 552px) {
					border-radius: 124% 0 120% 216%;
					top: -32%;
					width: 67%;
    				height: 85%;
				}
				@media (max-width: 392px) {
					border-radius: 124% 0 217% 216%;
				}
				@media (max-width: 392px) {
					left: 33%;
					width: 83%;
				}
				h2 {
					position: absolute;
					top: 50%;
					left: 60%;
					width: 42%;
					transform: translate(-50%, -50%);
					font-family: Roboto;
					font-size: 34px;
					line-height: 45px;
					font-weight: 700;
					text-transform: uppercase;
					color: #ffffff;
					@media (max-width: $md1+px) {
						font-size:30px;
					}
					@media (max-width: $md2+px) {
						top: 43%;
						left: 53%;
						font-size: 23px;
					}
					@media (max-width: 762px) {
						top: 55%;
    					left: 53%;
						font-size: 19px;
						width: 47%;
					}
					@media (max-width: 616px) {
						top: 67%;
    					left: 53%;
						font-size: 17px;
						line-height: 30px;
					}
					@media (max-width: 552px) {
						top: 54%;
    					left: 49%;
					}
					@media (max-width: 392px) {
						font-size: 14px;
					}
				}
				h3 {
					position: absolute;
					top: 68%;
					left: 59%;
					transform: translate(-50%, -50%);
					font-family: Roboto;
					font-size: 20px;
					line-height: 1.2;
					font-weight: 400;
					color: #ffffff;
					@media (max-width: $md2+px) {
						top: 62%;
						left: 53%;
						font-size: 20px;
					}
					@media (max-width: 762px) {
						top: 70%;
    					left: 47%;
    					font-size: 20px;
					}
					@media (max-width: 616px) {
						top: 80%;
    					left: 49%;
    					font-size: 17px;
					}
					@media (max-width: 552px) {
						top: 73%;
    					left: 44%;
					}
					@media (max-width: 392px) {
						font-size: 14px;
					}
				}
			}

			&_yellow {
				position: absolute;
				left: 60%;
    			top: 38%;
				width: 134px;
				height: 134px;
				border-radius: 50%;
				background-color: #ff9c00;
				@media (max-width: 616px) {
					top: 29%;
    				width: 101px;
    				height: 100px;
				}
				@media (max-width: 552px) {
					top: 38%;
				}
				@media (max-width: 392px) {
					width: 80px;
    				height: 80px;
				}
				h2 {
					position: absolute;
					left: 50%;
					top:50%;
					transform: translate(-50%, -50%);
					font-family: Roboto;
					font-size: 20px;
					font-weight: 400;
					color: #35302d;
					text-align: center;
					@media (max-width: 616px) {
						font-size: 16px;
						line-height: 0px;
					}
					span {
						font-size: 40px;
						line-height: 56px;
						font-weight: 700;
						text-transform: uppercase;
						color: #ffffff;
						@media (max-width: 616px) {
							font-size: 35px;
						}
						@media (max-width: 392px) {
							line-height: 44px;
							font-size: 30px;
						}
					}
				}
			}
		}
}
/*========================================================================================================*/

.product-card {
		&__title {
		}

		&__wrapper {
		}

		&__slider {
		}

		&__slider-body {
			display: flex;
			justify-content: space-between;
			position: relative;
		}

		&__slider-item {
			width:289px;
		}
}

.triangle {
	&__text{
		position: absolute;
    	transform: rotate(-45deg);
		font-family: Roboto;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
	}
		&_green {
			border-top: 88px solid #39C05F;
			border-right: 88px solid transparent;
			position: absolute;
			top:-1px;
			left:-1px;
				p {
					bottom: 52px;
				}
		}
		&_red{
			border-top: 88px solid #FF411C;
			border-right: 88px solid transparent;
			position: absolute;
			top:-1px;
			left:-1px;
				p {
					bottom: 52px;
    				left: 8px;
				}
		}
		&_yellow{
			border-top: 88px solid #FC9A00;
			border-right: 88px solid transparent;
			position: absolute;
			top:-1px;
			left:-1px;
				p{
					bottom: 44px;
    				left: 0px;
    				text-align: center;
				}
		}
}

.top-title {
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 43px 10px 43px 10px;
	position: relative;
	@media (max-width: 366px) {
		flex-direction: column;
		padding: 21px 10px 10px 10px;
	}
	
	h2 {
		margin:0 auto;
		font-family: Roboto;
		font-size: 22px;
		line-height: 22px;
		font-weight: 500;
		text-transform: uppercase;
		color: #7c7373;
	}

	a {
		position: absolute;
		display:block;
		font-family: Roboto;
		font-size: 16px;
		line-height: 22px;
		font-weight: 500;
		text-decoration: underline;
		color: #ff9c00;
		&:hover {
			color: #7c7373;
		}
		@media (max-width: 568px) {
			position: static;
		}
		@media (max-width: 366px) {
			margin: 10px 0 0 0;
		}
	}
}
.product-item {
		padding: 16px;
		display: flex;
		position:relative;
		flex-direction: column;
		width:289px;
		border: 1px solid;
		border-color: rgb(0%, 0%, 0%, 0);
		&__link-img {
			max-width: 100%;
			height: 81%;
			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
			&:hover .product-item {
				border-color:#ff9c00;
			}
		}
		> h2 {
			font-family: Roboto;
			font-size: 15px;
			line-height: 22px;
			font-weight: 500;
			color: #000000;
			text-align: center;
			margin: 15px 0 0 0;
		}

		>h3 {
			margin: 20px 0 13px 0;
			text-align: center;
			font-family: Roboto;
			font-size: 20px;
			line-height: 22px;
			font-weight: 700;
			color: #000000;
			@media (max-width: 480px) {
			    font-size: 14px;
			}
			span {
				font-size: 16px;
				font-weight: 400;
				color: #7c7373;
				text-transform: uppercase;
				text-decoration: line-through;
				text-decoration-color: #ff0000;
				margin: 0 15px 0 0;
			}
		}

		&__link {
			background:url(../img/bakcgraund/bagy.jpg);
			background-repeat: no-repeat;
			display: flex;
			justify-content: center;
			padding: 13px 0 13px 0;
			text-align: center;
			font-family: Roboto;
			font-size: 15px;
			line-height: 22px;
			font-weight: 400;
			color: #ffffff;
			border:1px solid #fd9b00;
			&:hover {
				background: url(../img/bakcgraund/bagw.jpg);
				color: #010101;
			}
			@media (max-width: 453px) {
				background-size: cover;
			}
			@media (max-width: 480px) {
			    padding: 8px 0 8px 0;
			}
			>img {
				left: 72px;
				width: 24px;
				height: 22px;
				margin: 0 12px 0 0;
			}
			&::before {
				content:'';
				background-image: url(../img/icons/corsina.svg);
				background-position: center;
				background-size: cover;
				width: 24px;
				height: 22px;
				margin:0 12px 0 0;
			}
			&:hover::before {
				background-image: url(../img/icons/corsina.svg.svg);
			}
		}

		&__sub-link {
			display:flex;
			justify-content: center;
			align-items: center;
			margin:11px 0 0 0;
			&:hover .product-item__sub-link_link {
				color:#7c7373;
			}

			&_img {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background-color: #00b5ab;
				position: relative;
				>img {
					width: 78%;
					height: 78%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			&_link {
				margin: 0 0 0 13px;
				font-family: Roboto;
				font-size: 14px;
				line-height: 1.2;
				font-weight: 400;
				color: #00b5ab;
			}
		}
}

/*===stock-product===================================================================================*/

.stock-product {

		&__title {
		}

		&__wrapper {
		}

		&__slider {
		}

		&__slider-body {
			display: flex;
			position: relative;
			margin: 0 0 42px 0;
		}

		&__slider-item {
		}
}
/*======feedBack-form=============================================================================================*/
.feedBack-form {

		&__wrapper {
			background-image: url(../img/bakcgraund/formback.jpg);
			background-size: cover;
			padding: 18px 114px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media (max-width: $md3+px) {
				flex-direction: column;
				padding: 18px 0px;
			}
		}

		&__text {
			font-family: Roboto;
			font-size: 16px;
			line-height: 22px;
			font-weight: 500;
			text-transform: uppercase;
			color: #fefefe;
			@media (max-width: 450px) {
				text-align: center;
			}
		}

		&__form {
			width: 458px;
			height: 38px;
			border:1px solid #4CCBC4;
			@media (max-width: $md1+px) {
				width: 50%;
			}
			@media (max-width: $md3+px) {
				width: 60%;
				margin: 5px 0;
			}

			
			input {
				width: 100%;
				height: 100%;
				padding: 0 0 0 11px;
				background: rgb(100%, 100%, 100%, 0) url(../img/icons/letter.svg) no-repeat;
				background-position-y: 50%;
				background-position-x: 410px;
				/*background-image: url(../img/icons/letter.svg);*/
				font-family: Roboto;
				font-size: 14px;
				line-height: 22px;
				font-weight: 400;
				color: #fff;
				&:hover {
					background: #66D3CD url(../img/icons/letter2.svg) no-repeat;
					background-position-y: 50%;
					background-position-x: 410px;

				}
				@media (max-width: $md3+px) {
					background-position-x: 97%;
				}
				
			}
			input::placeholder {
				font-family: Roboto;
				font-size: 14px;
				line-height: 22px;
				font-weight: 400;
				color: #fff;
			}
		}
}
/*========our-garant==================================================================================================*/
.our-garant {
		&__title {
			>h2 {
				margin: 0 auto;
			}
		}

		&__wrapper {
			display: flex;
			justify-content: space-between;
			@media (max-width: 790px) {
			    flex-wrap: wrap;
			}
		}

		&__item {
			width: 262px;
			margin: 0 15px;
			padding:90px 0 24px 0;
			display: flex;
			flex: 1 1 auto;
			position: relative;
			flex-direction: column;
			justify-content: center;
			background-color: #fff;
			box-shadow: 0 0 100px #EBEBEB;
			@media (max-width: 790px) {
			    margin: 5px 15px
			}
			>img {
				position: absolute;
				left: 50%;
				top: 50px;
				transform: translate(-50%,-50%);
			}
			>p {
				text-align: center;
				width: 160px;
				margin: 0 auto;
				font-family: Roboto;
				font-size: 18px;
				line-height: 22px;
				font-weight: 600;
				letter-spacing: 0;
				color: #000000;
			}
		}
}

/*========top-footer=========================================================================================*/
.top-footer {

		&__title {
			>h2 {
				margin:0 auto;
			}
		}

		&__slider-wrapper {
		}

		&__slider-body {
			display: flex;
			height: 100%;
			position: relative;
		}

		&__item {
			position: relative;
			margin: 0 15px;
			width: 50%;
			height: 295px;
			@media (max-width: $md1+px) {
				height: 266px;
			}
			@media (max-width: $md2+px) {
				height: 211px;
			}
		}

		&__img {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
		}
		&__text-top {
			position: absolute;
			top: 63%;
			left: 15%;
			font-family: Roboto;
			width: 171px;
			text-align: center;
			font-size: 18px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			color: #ffffff;
			@media (max-width: $md2+px) {
				left: 7%;
				font-size: 14px;
			}
		}
		&__text-bottom{
			position: absolute;
			font-family: Roboto;
			top:79%;
			left: 17%;
			width: 149px;
			text-align: center;
			font-size: 18px;
			line-height: 1.2;
			font-weight: 400;
			color: #a36708;
			@media (max-width: $md2+px) {
				left: 11%;
				font-size: 16px;
			}
		}
		&__text{
			position: absolute;
			text-align: center;
			top:24%;
			left:9%;
			transform: rotate(-10deg);
			font-family: Roboto;
			font-size: 33.9px;
			line-height: 45px;
			font-weight: 900;
			color: #000000;
			@media (max-width: $md1+px) {
				top: 23%;
				left: 8%;
				font-size: 24.9px;
			}
			@media (max-width: $md2+px) {
				font-size: 21.9px;
				transform: rotate(-11deg);
				line-height: 32px;
			}
			> span {
				display: block;
				font-size: 20.3px;
				line-height: 30px;
				font-weight: 900;
				@media (max-width: $md1+px) {
					font-size: 17.3px;
				}
				@media (max-width: $md2+px) {
					font-size:13.3px;
				}
			}
		}
		&__circle {
			position: absolute;
			top: 63%;
			left:273px;
			width: 74px;
			height: 74px;
			border-radius: 50%;
			background-color: #D42428;
			@media (max-width: $md2+px) {
				top: 51%;
    			left: 52%;
			}
		}

		&__in-ciecle {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 40px;
			height: 25px;
			border-radius: 5px;
			background-color: #fff;
		}

		&__arrow {
			position: absolute;
			left:55%;
			top:50%;
			transform: translate(-50%,-50%);
			border-top: 8px solid transparent;
    		border-left: 13px solid #D42428;
    		border-bottom: 8px solid transparent;
		}
}

/*=====last-text================================================================================================*/
.last-text {
		padding:100px 0 75px 0;
		&__text {
			margin:0 15px;
			padding:15px 15px 0 0;
			height: 90px;
			overflow-y:scroll;
			font-family: Roboto;
			font-size: 13px;
			line-height: 1.2;
			font-weight: 400;
			color: #7c7373;
		}
		&__arrow-top {
			position: absolute;
			left: 93%;
			top:84%;
			width: 76px;
			height: 76px;
			background-color: #FBC063;
			> div {
				position:absolute;
				left:50%;
				top:50%;
				transform: translate(-50%,-50%);
				width: 30px;
				height: 43px;
				background: #F7F7F7;
				clip-path: polygon(0 50%, 50% 0, 100% 47%, 75% 48%, 75% 100%, 23% 100%, 23% 50%);
			}
		}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
