//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "sans-serif";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	/*overflow-x: hidden;*/
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//@import "forms.scss";
//@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
//@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
.ibg{
background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
}

.ibg img{

width: 0;
height: 0;
position: absolute;
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
}

/* Слайдер ----------------------------------------------------------------*/
.slick-slider {
    height: 100%;
    position: relative;
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
    width: 100%;
    position: absolute;
    height: 100%;
}
.slick-list .draggable{
    width: 100%;
}
/* Лента слайдов */
.slick-track {
    display: flex;
	justify-content: space-between;
	position: absolute;
	height: 100%;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow  {
    position: absolute;
    display: inline!important;
    width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 0px;
	background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
   
    @media screen and (max-device-width: 700px) {
        display: none!important;
    }
}

.slider-medium-but {
    position: absolute;
    background-color:#fff;
    width: 10px;
}

.slider-foot-but {
    width: 30px;
    height: 30px;
    background-color: #f3f3f3;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
    background-image: url(../img/icons/leftarrow.png);
    top: 50%;
	right: 97.2%;
	
}
/* Стрелка вправо */
.slick-arrow.slick-next {
    left: 97.2%;
    top: 50%;
	background-image: url(../img/icons/rigtarrow.png);
	&:hover {
		background-image: url(../img/icons/yellowarrow.png);
	}
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
    background-color: #fff;
}
/* Точки (булиты) */
.slick-dots {
    
	display: flex !important;
	align-items: center;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 50%;
}
.slick-dots li {
    list-style: none;
	margin: 0 10px;
}
/* Активная точка */
.slick-dots li.slick-active button {
    &:after {
    position: absolute;
    /* top: -11%; */
    bottom: -113%;
    left: -100.5%;
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #fff;
	}
}
/* Элемент точки */
.slick-dots li button {
    font-size: 0;
	width: 10px;
	height: 10px;
	/*border:1px solid #848789;*/
	border-radius: 50%;
	background-color:#fff;
	position: relative;
	/*&:after {
		content:'';
		width: 32px;
		height: 32px;
		border-radius:50%;
		border:1px solid #fff;

	}*/
}
/*-------------------------------------------*/

//<ОСНОВНОЙ БЛОК>====================================================================================================

/*section sub-menu-slider======================================================================================*/
.content-wrapper {
	background-color: #f7f7f7;
}
.sub-block {
	position: relative;
    width: 100%;
    height: 20px;
    background-color: #f7f7f7;
    z-index: 1;
}
.sub-menu-slider {
		&__link {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;

		}
		
		&__wrapper {
			width: 100%;
			height: 430px;
		}

		&__body {
			width: 100%;
			height: 100%;
		}

		&__item {
			width: 100%;
			height: 100%;
			position: relative;
		}

		&__img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: right;
			>img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			
		}

		&__circle {
			&_grey {
				position: absolute;
    			left: 50%;
    			top: -23%;
    			background-color: rgb(55%, 53%, 53%, 0.8);
    			width: 50%;
    			height: 87%;
    			border-radius: 125% 0 122% 221%;
				h2 {
					position: absolute;
					top: 50%;
					left: 60%;
					width: 42%;
					transform: translate(-50%, -50%);
					font-family: Roboto;
					font-size: 34px;
					line-height: 45px;
					font-weight: 700;
					text-transform: uppercase;
					color: #ffffff;
				}
				h3 {
					position: absolute;
					top: 68%;
					left: 59%;
					transform: translate(-50%, -50%);
					font-family: Roboto;
					font-size: 20px;
					line-height: 1.2;
					font-weight: 400;
					color: #ffffff;
				}
			}

			&_yellow {
				position: absolute;
				left: 60%;
    			top: 38%;
				width: 134px;
				height: 134px;
				border-radius: 50%;
				background-color: #ff9c00;
				h2 {
					position: absolute;
					left: 50%;
					top:50%;
					transform: translate(-50%, -50%);
					font-family: Roboto;
					font-size: 20px;
					font-weight: 400;
					color: #35302d;
					text-align: center;
					span {
						font-size: 40px;
						line-height: 56px;
						font-weight: 700;
						text-transform: uppercase;
						color: #ffffff;
					}
				}
			}
		}
}
/*========================================================================================================*/

.product-card {

		&__title {
		}

		&__wrapper {
		}

		&__slider {
		}

		&__slider-body {
			display: flex;
			justify-content: space-between;
		}

		&__slider-item {
			width: 25%;
		}
}
.top-title {
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 43px 10px 43px 10px;
	h2 {
		margin: 0 30% 0 auto;
		font-family: Roboto;
		font-size: 22px;
		line-height: 22px;
		font-weight: 500;
		text-transform: uppercase;
		color: #7c7373;
	}

	a {
		display:block;
		font-family: Roboto;
		font-size: 16px;
		line-height: 22px;
		font-weight: 500;
		text-decoration: underline;
		color: #ff9c00;
		&:hover {
			color: #7c7373;
		}
	}
}
.product-item {
		padding: 16px;
		display: flex;
		flex-direction: column;
		flex: 0 1 25%;
		&__link-img {
			max-width: 100%;
			height: 81%;
			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
		> h2 {
			font-family: Roboto;
			font-size: 15px;
			line-height: 22px;
			font-weight: 500;
			color: #000000;
			text-align: center;
			margin: 15px 0 0 0;
		}

		>h3 {
			text-align: center;
			font-family: Roboto;
			font-size: 20px;
			line-height: 22px;
			font-weight: 700;
			color: #000000;
			span {
				font-size: 16px;
				font-weight: 400;
				color: #7c7373;
				text-transform: uppercase;
				text-decoration: line-through;
				text-decoration-color: #ff0000;
				margin: 0 15px 0 0;
			}
		}

		&__link {
			background:url(../img/bakcgraund/bagy.jpg);
			background-repeat: no-repeat;
			position: relative;
			padding: 13px 0 13px 13px;
			text-align: center;
			font-family: Roboto;
			font-size: 15px;
			line-height: 22px;
			font-weight: 400;
			color: #ffffff;
			border:1px solid #fd9b00;
			&:hover {
				background: url(../img/bakcgraund/bagw.jpg);
				color: #010101;
			}
			>img {
				position: absolute;
				left: 72px;
				width: 24px;
				height: 22px;
				margin: 0 12px 0 0;
			}
		}

		&__sub-link {
			display:flex;

			&_img {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background-color: #00b5ab;
				position: relative;
				>img {
					width: 78%;
					height: 78%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			&_link {
				font-family: Roboto;
				font-size: 14px;
				line-height: 1.2;
				font-weight: 400;
				color: #00b5ab;
			}
		}
}



//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
